.approval {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
    padding: 0;
    width: 100%;
    margin: 1em 0;
    border-radius: var(--radius);
}

.request {
    display: flex;
    flex-direction: column;
    align-items: stretch !important;
    justify-content: flex-start;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
}